// SCSS Variable's
$font-primary: 'Cinzel Decorative', cursive;
$font-secondary: 'Karla', sans-serif;
$color-primary:#e2c75a;;
$color-gray:#666666;
$color-black:#333333;
$color-white:#ffffff;
$color-white-soft:#f7f7fa;